In [1]:
print(list(enumerate("abc")))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print(keyword.softkwlist)

['_', 'case', 'match']

In [4]:
tally = dict.fromkeys(['A', 'B', None, ...], 0)
tally

{'A': 0, 'B': 0, None: 0, Ellipsis: 0}

In [5]:
def safe_int(s):
    try: return int(s)
    except Exception: return None
    
input_strings = ['1','2','a','11']

In [7]:
valid_int_strings = [safe_int(s) for s in input_strings if safe_int(s) is not None]
valid_int_strings

[1, 2, 11]

In [8]:
valid_int_strings = [int_s for s in input_strings 
                     if (int_s := safe_int(s)) is not None]
valid_int_strings

[1, 2, 11]

In [9]:
x = [10, 20, 30, 40]
x[1:3]

[20, 30]

In [10]:
x[1:]

[20, 30, 40]

In [11]:
x[:2]

[10, 20]

In [12]:
y = list(range(10))
y[-5:]

[5, 6, 7, 8, 9]

In [13]:
y[::2]

[0, 2, 4, 6, 8]

In [14]:
y[10:0:-2]

[9, 7, 5, 3, 1]

In [15]:
y[:0:-2]

[9, 7, 5, 3, 1]

In [16]:
x = [1, 2, 3, 4]
x[1] = 42
x

[1, 42, 3, 4]

In [19]:
x = [10, 20, 30, 40, 50]
x[1:3] = [22, 33, 44]
x

[10, 22, 33, 44, 40, 50]

In [20]:
x[1:4] = [88, 99]
x

[10, 88, 99, 40, 50]

In [1]:
mylist = ['alpha', 'Beta', 'GAMMA']
mylist.sort()
mylist

['Beta', 'GAMMA', 'alpha']

In [2]:
mylist.sort(key=str.lower)
mylist

['alpha', 'Beta', 'GAMMA']

In [17]:
S = {1, 2, 4}
S.add(6)
S

{1, 2, 4, 6}

In [18]:
S = {1, 2, 4}
S.discard(4)
S

{1, 2}

In [20]:
S = {1, 2, 4}
T = S - {4}
S, T

({1, 2, 4}, {1, 2})

In [22]:
import keyword
keyword.softkwlist

['_', 'case', 'match']

In [23]:
for subject in (42, 42.0, 42.1, 1+1j, b'abc', 'abc'):
    print(subject, end=': ')
    match subject:
        case 42: print('integer')
        case 42.1: print('float')
        case 1+1j: print('complex')
        case b'abc': print('bytestring')
        case 'abc': print('string')

42: integer
42.0: integer
42.1: float
(1+1j): complex
b'abc': bytestring
abc: string

In [24]:
for subject in 42, 'string', ('tu', 'ple'), ['list'], object:
    match subject:
        case _: print('matched', subject)

matched 42
matched string
matched ('tu', 'ple')
matched ['list']
matched <class 'object'>

In [25]:
for subject in 42, 'string', ('tu', 'ple'), ['list'], object:
    match subject:
        case x: assert x == subject

In [26]:
print (x)

<class 'object'>

In [27]:
class m: v1 = "one"; v2 = 2; v3 = 2.56
match ('one', 2, 2.56):
    case (m.v1, m.v2, m.v3):  print('matched')

matched

In [28]:
import sys
g = sys.modules[__name__]
v1 = "one"; v2 = 2; v3 = 2.56
match ('one', 2, 2.56):
    case (g.v1, g.v2, g.v3):  print('matched')

matched

In [29]:
for subject in range(5):
    match subject:
        case 1 | 3: print('odd')
        case 0 | 2 | 4: print('even')

even
odd
even
odd
even

In [30]:
for sequence in (["one", "two", "three"], range(2), range(6)):
    match sequence:
        case  (first, *vars, last): print(first, vars, last)

one ['two'] three
0 [] 1
0 [1, 2, 3, 4] 5

In [31]:
match subject:
    case ((0 | 1) as x) | 2: print(x)

SyntaxError: alternative patterns bind different names (2008554764.py, line 2)

In [32]:
match 42:
    case (1 | 2 | 42) as x: print(x)

42

In [33]:
subject

4

In [34]:
for subject in 42, 42.0:
    match subject:
        case int(x): print('integer', x)
        case float(x): print('float', x)

integer 42
float 42.0

In [35]:
for subject in range(5):
    match subject:
        case int(i) if i % 2 == 0: print(i, "is even")

0 is even
2 is even
4 is even

In [36]:
class Color:
    __match_args__ = ('red', 'green', 'blue')
    def __init__(self, r, g, b, name='anonymous'):
        self.name = name
        self.red, self.green, self.blue = r, g, b

In [39]:
color_red = Color(255, 0, 0, 'red')
color_blue = Color(0, 0, 255)
for subject in (42.0, color_red, color_blue, 7):
    match subject:
        case float(x): print('float', x)
        case Color(red, green, blue, name='red'):
            print(type(subject).__name__, subject.name, red, green, blue)
        case Color(red, green, 255) as color:
            print(type(subject).__name__, color.name, red, green, color.blue)
        case _: print(type(subject), subject)

float 42.0
Color red 255 0 0
Color anonymous 0 0 255
<class 'int'> 7

In [38]:
match color_red:
    case Color(red, green, blue, name): print("matched")

TypeError: Color() accepts 3 positional sub-patterns (4 given)

In [43]:
y = x = 128
count = 0
while x > 0:
    x //= 2
    count += 1
print(f'The approximate log2 of {y} is ', count)

The approximate log2 of 128 is  8

In [46]:
for letter in 'ciao':
    if letter in ('a', 'e', 'i', 'o', 'u'): art = "an"
    else: art = 'a'
    print(f'give me {art} {letter}...')

give me a c...
give me an i...
give me an a...
give me an o...

In [47]:
d = {'a':1, 'b':2, 'c':3}
for key, value in d.items():
    if key and value:
        print(key, value)

a 1
b 2
c 3

In [48]:
prototype = [1, 'placeholder', 3]
for prototype[1] in 'xyz': print(prototype)

[1, 'x', 3]
[1, 'y', 3]
[1, 'z', 3]

In [50]:
someseq = range(5)
for x in someseq: print(x, end=' ')
print('\n', x)

0 1 2 3 4
 4

In [52]:
iterable = [1, 2]
for i in iterable:
    for j in iterable: print(i, j)

1 1
1 2
2 1
2 2

In [56]:
rng = range(0, 5, 2)
for r in rng: print(r)

0
2
4

In [61]:
rng = range(25, 20, -1)
for r in rng: print(r)

25
24
23
22
21

In [62]:
result = [x+1 for x in rng if x>23]

In [63]:
print(result)

[26, 25]

In [67]:
result = [x+1 for x in rng for x in (25,)]
result

[26, 26, 26, 26, 26]

In [69]:
listoflists = [[1,2], [3,4,5], ['a', 'b']]
result = [x for sublist in listoflists for x in sublist]
result

[1, 2, 3, 4, 5, 'a', 'b']

In [70]:
s = {n//2 for n in range(10)}
s

{0, 1, 2, 3, 4}

In [71]:
s = [n//2 for n in range(10)]
s

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4]

In [73]:
d = {s: i for i, s in enumerate(['zero', 'one', 'two'])}
d

{'zero': 0, 'one': 1, 'two': 2}

In [74]:
from math import sin, asin, cos, acos, tan, atan, log, exp
def add_inverses(i_dict):
    for f in list(i_dict):
        i_dict[i_dict[f]] = f

math_map = {sin:asin, cos:acos, tan:atan, log:exp}
add_inverses(math_map)
math_map

{<function math.sin(x, /)>: <function math.asin(x, /)>,
 <function math.cos(x, /)>: <function math.acos(x, /)>,
 <function math.tan(x, /)>: <function math.atan(x, /)>,
 <function math.log>: <function math.exp(x, /)>,
 <function math.asin(x, /)>: <function math.sin(x, /)>,
 <function math.acos(x, /)>: <function math.cos(x, /)>,
 <function math.atan(x, /)>: <function math.tan(x, /)>,
 <function math.exp(x, /)>: <function math.log>}

In [75]:
def twice(x):
    return x * 2

In [76]:
twice('spam')

'spamspam'

In [78]:
def f(x, y=[]):
    y.append(x)
    return id(y), y

print(f(23))

(139781925981888, [23])

In [79]:
print(f(42))

(139781925981888, [23, 42])

In [80]:
print(f(23))

(139781925981888, [23, 42, 23])

In [81]:
def f(x, y=None):
    if y is None: y = []
    y.append(x)
    return id(y), y

print(f(23))

(139781925833728, [23])

In [82]:
print(f(23))

(139781925837568, [23])

In [83]:
print(f(42))

(139781925837568, [42])

In [86]:
def sum_sequence(*numbers):
    return sum(numbers)
print(sum_sequence(1, 2, 8, 9))

20

In [87]:
def inc_dict(d, **values):
    for key, value in values.items():
        if key in d: d[key] += value
        else: d[key] = value

In [89]:
my_dict = {'one': 1, 'two': 2}
inc_dict(my_dict, one=3, new=42)
my_dict

{'one': 4, 'two': 2, 'new': 42}

In [90]:
def sum_sequence(*numbers):
    """Return the sum of multiple numerical arguments.

       The arguments are zero or more numbers.
       The result is their sum.
    """
    return sum(numbers)

In [91]:
sum_sequence.__doc__

'Return the sum of multiple numerical arguments.\n\n       The arguments are zero or more numbers.\n       The result is their sum.\n    '

In [92]:
def f(a:'foo', b)->'bar': pass

In [93]:
f.__annotations__

{'a': 'foo', 'return': 'bar'}

In [94]:
def f(a, b, c=23, d=42, *x):
    print(a, b, c, d, x)
f(1,2,3,4,5,6)

1 2 3 4 (5, 6)

In [95]:
def f(a, b, *x, c=23, d=42): print(a, b, x, c, d)
f(1,2,3,4,5,6)

1 2 (3, 4, 5, 6) 23 42